.movie-list {
  display: flex;
  flex-wrap: wrap;
}
.movie-card,
.new-movie-card {
  border: 2px solid black;
  width: 200px;
  height: 250px;
  position: relative;
  margin: 10px;
  display: flex;
  flex-direction: column;
}
.new-movie-card {
  font-size: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.movie-image {
  background-image: url(https://www.mearto.com/assets/no-image-83a2b680abc7af87cfff7777d0756fadb9f9aecd5ebda5d34f8139668e0fc842.png);
  height: 90%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.movie-rating {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  border: 2px solid black;
  border-top: none;
  border-right: none;
}
.rating-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  justify-content: center;
}
.rating-filter:hover {
  cursor: pointer;
}
.rating-filter-text {
  font-size: 0.8em;
}
.name-filter {
  height: 50px;
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 10px 10px;
}

.image {
  width: 280px;
  height: 300px;
}
.name-filter-text {
  flex: 1;
  border: 2px solid black;
}
.form {
  display: flex;
  flex-direction: column;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  color: black;

  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
